<%- include('partials/header.ejs') %>

<body>
  <header class="flex">
    <img src="/Img/WCE24.png" alt="WCE">
    <nav>
      <ul class="flexi">
        <li><a href="/">Home</a></li>
          <li><a href="#aboutus">aboutus</a></li>
          <li><a href="#contactus">contact us</a></li>
          <li><a href="/gym">GYM</a></li>
          <li><a href="/sports">Sports</a></li>
      </ul>
    </nav>
  </header>
    <div>
    <form class="conta1" style="text-align: center" >
        <h1>Staff-Advisior</h1>
        <label for="fid">Faculty Id :</label>
        <input type="text" id="fid" name="fid"><br><br>
        <label for="lname">First Name :</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Last Name :</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="position">Position :</label>
        <input type="text" id="position" name="position"><br><br>
        <div>
            <button class="button button1">Add </button>
            <button class="button button2">Delete</button>
    </div>

      </form>
    </div>
</body>
</html>