<%- include('partials/header.ejs') %>
  <body>
    <header class="flex">
      <img src="/Img/WCE24.png" alt="WCE">
      <nav>
        <ul class="flexi">
          <li><a href="/">Home</a></li>
            <li><a href="#aboutus">aboutus</a></li>
            <li><a href="#contactus">contact us</a></li>
            <li><a href="/gym">GYM</a></li>
            <li><a href="/sports">Sports</a></li>
        </ul>
      </nav>
    </header>

    <div class="cards" style="color: white;">
        <div class="gymcard" st>
            <h1>GYM Department</h1>
            <a href="/gym"> <button>Gym Department</button> </a>
        </div>
        <div class="sportscard" style="color: rgb(0, 0, 0)"  >
            <h1>Sports Department</h1>
            <a href="http://www.walchandsangli.ac.in/gym/Gymkhana%20Website%20Information%20Version%201%2014.09.2022%20one%20page.pdf"> <button>Sports Department</button> </a>
        </div>
    </div>
  </body>
  <script src="/app.js" ></script>
</html>
