<%- include('partials/header.ejs') %>
  <body >
    <header class="flex">
      <img src="/Img/WCE24.png" alt="WCE">
      <nav>
        <ul class="flexi">
          <li><a href="/">Home</a></li>
            <li><a href="#aboutus">aboutus</a></li>
            <li><a href="#contactus">contact us</a></li>
            <li><a href="/gym">GYM</a></li>
            <li><a href="/sports">Sports</a></li>
        </ul>
      </nav>
    </header>
    <div class="content" style="background-color: white;">
    <div style="overflow-x:auto;">
    <table class="table"  >
      <thead>
        <th>id</th>
        <th>Equipment Name</th>
        <th>Quantity</th>
      </thead>

      <tbody>
        <tr>
        <td>1</td>
        <td>Chest Machine</td>
        <td>1</td>
      </tr>


      <tr>
        <td>2</td>
        <td>Bicep Machine</td>
        <td>1</td>
      </tr>

      <tr>
        <td>3</td>
        <td>Chest cum Shoulder Bench Machine</td>
        <td>1</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Thighs Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>5</td>
        <td>Thighs Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>6</td>
        <td>Squat Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>7</td>
        <td>Chest Bench ( Adjustable vertically inclined) </td>
        <td>1</td>
      </tr>

      <tr>
        <td>8</td>
        <td>Flat Chest Bench  </td>
        <td>1</td>
      </tr>

      <tr>
        <td>9</td>
        <td>Abdominal Crunch Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>10</td>
        <td>Shoulder Fly over Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>11</td>
        <td>Forearm Machine  </td>
        <td>1</td>
      </tr>

      <tr>
        <td>12</td>
        <td>Calf Extension Machine  </td>
        <td>1</td>
      </tr>

      <tr>
        <td>13</td>
        <td>Running cum walker Machine  </td>
        <td>( New-3, Old-1)</td>
      </tr>

      <tr>
        <td>14</td>
        <td>Abdominal oblique’s Machine </td>
        <td>1</td>
      </tr>

      <tr>
        <td>15</td>
        <td>Bench-All in One Set ( Back, Thighs, Chest, Double/Single Bar) </td>
        <td>1</td>
      </tr>

      <tr>
        <td>16</td>
        <td>Triceps Machine  </td>
        <td>1</td>
      </tr>
    </tbody>
    </table>
  </div>

 
</div>



  </body>
  <script src="/app.js"></script>
</html>
