
<%- include('partials/header.ejs') %>
<body>

  <header class="flex">
    <img src="/Img/WCE24.png" alt="WCE">
    <nav>
      <ul class="flexi">
        <li><a href="/">Home</a></li>
          <li><a href="#aboutus">aboutus</a></li>
          <li><a href="#contactus">contact us</a></li>
          <li><a href="/gym">GYM</a></li>
          <li><a href="/sports">Sports</a></li>
      </ul>
    </nav>
  </header>

    <div class="conta2">
      <form style="text-align: center">
       
       <h1> <label for="subject">Notify</label><br><br></h1>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height: 50px" ></textarea> <br><br>
        <input type="file" name="file" id="file"> 
        <button class="button button1" type="submit">Send </button>
      </form>
    </div>
    
    </body>
    </html>
    